.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li{
	display: inline;
}

.projects{
	padding: 20px;
	padding-top: 5px;
}

.Monty {
	background-image: url("images/goat1.jpg");
}
