.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li{
	display: inline;
}

.projectbutton img:hover {
	opacity:0.6
}

.projectbutton img{
	width:100%;
	height:auto;
	overflow:hidden;
	position: absolute;
	left:0;
	top:0;
	opacity: 0.4;
	-webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
 
}
	

.box{
	width: 100%;
	height:inherit;
	position:relative;
}

.projecttext {
	color:#222222;
	padding:auto;
	padding-left:10px;
	position:absolute;
	top:0;
	z-index: 100;
	text-shadow: 1px 1px #cccccc
}

.Flipimage{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}
