.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li{
	display: inline;
}

.projects{
	/*padding: 20px;
	padding-top: 5px;*/
}

.projectbutton img{
	width:100%;
	height:auto;
	overflow:hidden;
	position: absolute;
	left:0;
	top:0;
	opacity: 0.4;
}

.box{
	width: 100%;
	height:inherit;
	position:relative;
}

.projecttext {
	color:#333333;
	padding:auto;
	padding-left:10px;
	position:absolute;
	top:0;
	z-index: 100;
}

.Flipimage{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}
