.spoiler {
	color:white;
}
.spoiler:hover {
	background-color: black;
}

.game{
	position:relative;
	margin: 5px;
}

.door{
	border-style:solid;
	border-color:#222222;
	border-radius:10px;
	height:200px;
	width:220px;
	margin:6px;
	
}

.door:hover{
	box-shadow: 10px 10px 5px #888888;
}

.door p{
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
 	text-align:center;
}

.gamehost{
	height:200px;
	width:220px;
	padding-top: 10px;
}

.gamehost p{
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
}

.pickDoor {
	box-shadow: 10px 10px 5px #555555;
}

.goat {
	background-image:url("images/goat1.jpg");
}

.car{
	background-image:url("images/car1.jpg");
}

/*.unclickable{}*/

.swappick{}

.counter{
	padding-top: 15px;
}
